@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');


#app {
  max-width: 1280px;
}

body, .pixel-font {
  font-family: 'Pixelify Sans', monospace;
}


@media (hover: hover) {
  a:hover {
    filter: brightness(1.2);
  }
}




